body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

body,
.header,
.header > ul,
.hero-section {
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  gap: 24px;
}

a {
  color: #e5e7eb;
  text-decoration: none;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 0;
}

.hero-message {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-section > img {
  align-self: center;
}

button {
  background-color: #3882f6;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: #f9faf8;
  padding: 8px 25px 8px 25px;
}

.header,
.hero-section {
  padding: 10px 200px 10px 200px;
  background-color: #1f2937;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}
